body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

                                        /*DISEÑOS PARA LOS LIBROS*/
/* Estilo para la clase que envuelve todo el contenido de Lectura */
.lectura-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilo para cada tarjeta de libro */
.lectura-card {
  width: 100%;
  max-width: 300px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.lectura-card:hover {
  transform: scale(1.02);
}

/* Estilo para la imagen del libro */
.lectura-card img {
  max-width: 100%;

  border-radius: 8px 8px 0 0;
}

/* Estilo para el contenido de la tarjeta */
.lectura-card .MuiCardContent-root {
  padding: 16px;
}

/* Estilo para el título del libro */
.lectura-card .lectura-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

/* Estilo para el género del libro */
.lectura-card .lectura-genre {
  font-size: 14px;
  color: #555;
}

/* Estilo para el autor del libro */
.lectura-card .lectura-author {
  font-size: 14px;
  font-style: italic;
  color: #777;
}

/* Estilo para la valoración del libro */
.lectura-card .lectura-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  font-weight: bold;
  color: #f57c00;
}

                                          /*FIN DISEÑOS PARA LECTURA*/

                                          /*DISEÑOS PARA PELICULAS Y SERIES*/
.movie_item {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  
  
}

.movie_item:hover {
  transform: scale(1.02);
}

.movie_name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos en caso de recorte */
}


.release_date {
  font-size: 14px;
  color: #555;
}

.vote_average {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
                                              /*FIN DISEÑOS PARA PELICULAS Y SERIES*/

                                              /* CSS para el modal */
.book-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.book-details {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 80%;
}



.book-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.book-details p {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Times New Roman', Times, serif;
}

/* Modal principal */
.movie-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

/* Detalles de las pelis */
.movie-details {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 80%;
}

.movie-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-details p {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Times New Roman', Times, serif;
}

.series-details {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 80%;
}

.series-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.series-details p {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Times New Roman', Times, serif;
}

                                                      /* FIN CSS para el modal */


                                                    